* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    padding-top: 150px;
}


body h1, h3 {
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 35px;
    color: green;
}

h3 {
    color: #000;
    font-weight: 400;
    
}

input, button {
    display: block;
    width: 500px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #7CFC00;
}

button {
    border: none;
    background-color: #7CFC00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: aliceblue;
    font-style: italic;
    cursor: pointer;

}

button:hover {
    background-color:#7CFC00;
}

input:focus {
    outline: 1px solid #7CFC00;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

form {
    margin-top: 40px;
}

h1, h3 {
    text-align: center;
}

.sucess {
    background-color: green;
    color: aliceblue;
    padding:  10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
}

.error {
    background-color: red;
    padding: 8px;
    margin-bottom: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: none;
    text-align: center;
}

.sucess img {
    height: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: absolute;
}

